<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <center>
        <main>
            <div>
                <h1>User Data</h1>
                <table style="width:50%">
                    <tr>
                        <th>NAME</th>
                        <th>AGE</th>
                        <th>HOBBIES</th>
                    </tr>
                    <% data.forEach(function(data) { %>
                        <tr>
                            <td>
                                <% if ((data.name) !==undefined ) { %>
                                    <%= data.name %>
                                        <% } else { %>
                                            <p>(Bad data)</p>
                                            <% } %>
                            </td>
                            <td>
                                <% if ((data.age) !==undefined ) { %>
                                    <%= data.age %>
                                        <% } else { %>
                                            <p>--</p>
                                            <% } %>
                            </td>
                            <td>
                                <% if ((data.hobbies) !==undefined ) { %>
                                    <%= data.hobbies %>
                                        <% } else { %>
                                            <p>--</p>
                                            <% } %>
                            </td>
                        </tr>
                        <% }); %>
                </table>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </center>
</body>

</html>