<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <center>
        <main>
            <div>
                <h1>User Data</h1>
                <table style="width:50%">
                    <tr>
                        <td>NAME</td>
                        <td>AGE</td>
                        <td>HOBBIES</td>
                    </tr>
                    <% data.forEach(function(data) { %>
                        <tr>
                            <td>
                                <%= data.name %>
                            </td>
                            <td>
                                <%= data.age %>
                            </td>
                            <td>
                                <%= data.hobbies %>
                            </td>
                        </tr>
                        <% }); %>
                </table>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </center>
</body>

</html>